.div-container{
    display: grid;
    grid-template-columns: 40px 40px 40px;
    grid-template-rows: 40px 40px 40px;
    height: 120px;
    width: 120px;
    border: solid;
    border-width: 1px;
    
}
.div-container div[class^="div-container-"]{
    display: grid;
    border: solid;
    border-width: 1px;
    cursor: pointer;
    place-items: center;
}
.images-x,
.images-o
{
    height: 35px;
    width: 35px;
}
